doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    style.
         p {
         font-size: 10em;
         color: red
         }
         p:after {
         content: 'Que onda! :)';
         color: green
         }
  body
    p=name
